.job-component{
    margin: 35px 0;
    padding: 0 10px;
}
.job-header{
    text-align: left;
    // display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    // align-items: center;
    
    // margin: 5px;
   
}
.positionJob {
    margin-top: 0;
    margin-bottom: 1vh;
    
}
.company{
    margin: 0;
}
.years{
    margin: 0;
    margin-left: 20px;
    font-style: italic;
}
.job-description{
    text-align: left;
    margin-top: 1vh;
}
.yearContainer{
    display: flex;
}