@import '../../styles/colors.scss';
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 1024px;

    &image-container{
        height: 200px;
        width:100%;
    }
} 
.header__info{
    display: flex;
    flex-direction: column;
}

.position{
    margin: 0 auto;
    text-align: left;
    font-size: 17px;
}
.name-title{
    margin-top: 15px;
}
.name, .header__list{
    padding: 5px
}
.name{
    min-width: 275px;
}
.header-image{
    border: 3px solid black;
    width: 75%;
    border-radius: 50%;
    
}

.header-image:hover{
    cursor: pointer;
    
}
.list__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header__list{
    list-style: none;
    padding: 0;
    text-align: left;
    display: flex;
    flex-direction: column;

}
.header__list-item{
    padding: 5px;

}

@media screen and (min-width:600px) {
.header{
    flex-direction: row;
    justify-content: space-between;
}
    
}