.skills-component{
    
    display: flex;
    flex-direction: column;
}
.skills__list{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100px;
}
.skills__list-item{
    padding: 10px
}
// .soft-skills__container{
//     margin: 150px 0;
// }