@import '../../styles/colors.scss';

.form-fields{
    width: 80%;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    box-shadow:5px 5px 15px 5px  #DDDDDD;
}
.text-area{
    padding: 5px;
    padding-bottom: 20px;
}
.fieldset{
    border: 0;
    padding-left:0;
    padding-right: 0;
}
.submit{
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    border-radius: 10px;
    border: 2px solid #65bce8; 
    background: linear-gradient(250deg, #65bce8 0%, #306485 100%);
    transition: all .3s;
    margin-left: 10px;
}

.submit:hover{
    background: linear-gradient(250deg, #FABADA 0%, #FABADA 100%);
    transition: all .3s;
    cursor: pointer;
}