@import './styles/colors.scss';
@import './styles/fonts.scss';
.App {
  text-align: center;
  min-width: 320px;
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 2vh;
  font-family: $primaryFont;
  color: $primaryColor;
}


.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
}

.education-skills__container{
  display: flex;
  flex-direction: column;
  margin: 5px;

}


@media screen and (min-width: 600px) {
  .main{
    flex-direction: row;
  }
  .education{
    order:-1;
  }
}