
{% extends 'movies/base-netflix.html.twig'%}

{% block body %}
    <div class="row">
        <div class="col-4">
            <img src="{{ movie.urlImagen }}" style="width: 100%"/>
        </div>
        <div class="col">
            <h1>{{ movie.titulo }}</h1>
            <p class="fs-5">{{ movie.descripcion }}</p>
        </div>
    </div>
{% endblock %}
