
{% extends 'movies/base-netflix.html.twig'%}

{% block body %}
    <div class="row">
        <h1>Películas populares</h1>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Posición</th>
                    <th>Titulo</th>
                </tr>
            </thead>
            <tbody>
            {% for movie in movies %}
                <tr>
                    <th>{{ loop.index }}</th>
                    <td><a href={{ path('movie_details', {'titulo': movie.titulo}) }}>{{ movie.titulo|upper }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
