@import '../../styles/colors.scss';
.education-list__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.education__list-item{
    margin: 10px;
}
.title{
    border-bottom: 2px solid black;
}
.place{
    margin-top: 8px;
    margin-bottom: 0px;
    color: #858588;
}
.placeDate{
    margin-top: 8px;
    margin-bottom: 0px;
    color: #858588;
    font-style: italic;
}
.qualification{
    margin-top: 0;
}
