<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% if user.admin %}
                <style>
                    body {
                        background-color: red;
                    }
                </style>
            {% endif %}

            <h1>{{ mensaje }}</h1>
            <h3>Tweets relevantes</h3>
            {% for tweet in relevantTweets %}
                <h5>{{ loop.index }} {{ tweet }}</h5>
            {% endfor %}
        {% endblock %}
    </body>
</html>
