

{% extends 'base.html.twig' %}

{% block title %}Settings page{% endblock %}

{# ESTO ES UN COMENTARIO DE TWIG #}
{% block body %}
    <!-- ESTO ES UN COMENTARIO HTML DESDE TWIG -->
    {% set nombre = 'Laura' %}

    <h3>Settings {{ nombre }}</h3>
{% endblock %}


